@page
@model IndexModel
@using Microsoft.Extensions.Options;
@inject IOptions<ExternalApiConfiguration> options
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">ClientId: @options.Value.ClientId</h1>
</div>
