@page
@model IndexModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration configuration
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">conf message: @configuration["message"]</h1>
</div>
